{% extends 'back/season/season_template.html.twig' %} 

{% block body_back %}

    <h2>Liste des saisons de la série : {{ movie.title }}</h2>
        <a href="{{ path('back_season_new' , {id: movie.id}) }}" class="btn btn-primary me-2">Ajouter un season</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Série</th>
                <th>Numéro de sasion</th>
                <th>Episodes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.movie.title }}</td>
                <td>{{ season.number}}</td>
                <td>{{ season.episodesNumber }}</td>
                <td>
                    <a class="btn btn-warning"href="{{ path('back_season_edit', {'id': season.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
