{% extends 'back/casting/casting_template.html.twig' %} 

{% block body_back %}

    <h2>Castings : {{ movie.title }}</h2>
        <a href="{{ path('back_casting_new',{id: movie.id}) }}" class="btn btn-primary me-2">Ajouter un casting</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Acteur</th>
                <th>Role</th>
                <th>Crédit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for casting in castings %}
            <tr>
                <td>{{ casting.id }}</td>
                <td>{{ casting.person.firstname }} {{ casting.person.lastname }}</td>
                <td>{{ casting.role}}</td>
                <td>{{ casting.creditOrder }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('back_casting_show', {'id': casting.id}) }}">Voire</a>
                    <a class="btn btn-warning"href="{{ path('back_casting_edit', {'id': casting.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
