{% extends 'back/casting/casting_template.html.twig' %}

{% block body_back %}
    <h2>Un membre du casting</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ casting.id }}</td>
            </tr>
            <tr>
                <th>Acteur</th>
                <td>{{ casting.person.firstname }} {{ casting.person.lastname }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ casting.role}}</td>
            </tr>
            <tr>
                <th>Crédit</th>
                <td>{{ casting.creditOrder }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('back_casting_index',{id: casting.movie.id}) }}" class="btn btn-primary">Retour a liste des castings</a>

    <a href="{{ path('back_casting_edit', {'id': casting.id}) }}" class="btn btn-warning">Editer</a>

    {{ include('back/casting/_delete_form.html.twig') }}

{% endblock %}
