{% extends 'back/movie/movie_template.html.twig' %}

{% block bodyBack %}
    <h2>Film : {{ movie.title }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ movie.title }}</td>
            </tr>
            <tr>
                <th>Date de sortie</th>
                <td>{{ movie.releaseDate ? movie.releaseDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ movie.duration }}</td>
            </tr>
            <tr>
                <th>Sommaire</th>
                <td>{{ movie.summary }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ movie.synopsis }}</td>
            </tr>
            <tr>
                <th>Affiche</th>
                <td><img src="{{ movie.poster }}"></td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ movie.rating }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ movie.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_movie_index') }}" class="btn btn-primary">Retour a liste</a>

    <a href="{{ path('back_movie_edit', {'id': movie.id}) }}" class="btn btn-warning">Editer</a>

    {{ include('back/movie/_delete_form.html.twig') }}

{% endblock %}
